{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    {% endblock content %}
